*{
	margin:0;
	font-family: sans-serif;
	box-sizing: border-box;
}
body{
	background-color: #f6f5fa;
}
/*for nav desktop*/
.bgot{
	background-color: white;
	border-bottom: 1px solid #ccc;
	/*box-shadow: 2px 2px 5px #ccc;*/
	padding: 30px 50px;
	position: sticky;
    top: 0;
    width: 100%;
}
.floater_right{
	float: right
}
.floater_right a{
	text-decoration: none;
	color: #333;
	padding: 0 10px;
}
.logo{
	padding: 0 10px;
	font-weight: 700;
	/*font-size: 22px;*/
	text-transform: uppercase;
}
.icon{
	display: none;
}
/*end of nav desktop*/
/*for main*/
.subParent{
	display: flex;
padding: 30px 60px;
}
.child{
	width: 50%;
	min-height: 345px;
}
.child img{
	width: 100%;
	object-fit: cover;
	height: inherit;
}
.text{
	line-height: 25px;
	text-align: justify;
	padding-right: 20px;
	margin: 10px 0;
	color: #252525;
}
.cont{
	line-height: 30px;
	font-size: 14px;
	color: #252525;
}
.button button{
	padding: 15px;
	background-color: royalblue;
	color: white;
	border: 0;
	margin-top: 20px;
	margin-right: 20px;
}
.button button:hover{
	opacity: 0.7;
	transition: 0.6s ease-in-out;
	cursor: pointer;
}
.grid_parent{
	background-color: white;

}
.grid_sub_parent{
	display: grid;
	padding: 20px 60px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 10px;
}
.child_grid{
	border-bottom: 1px solid #ccc;
	padding: 0 20px 20px 0;
}
.child_grid p{
	text-align: justify;
	line-height: 25px;
}

@media screen and (max-width: 890px){
	.subParent{
	display: block;
padding: 20px;
}
.child{
	width: 100%;
	margin: 10px 0
}
.grid_sub_parent{
	padding: 20px;
}
.bgot{
padding: 20px 10px;
	}
}